torch>=2.0.0  # Supports CUDA 12.1
torchvision>=0.15.0  # Matches Torch version 2.0.0
pytorch3d  # Must be built from source for CUDA 12.1 (see instructions)
numpy>=1.21.0  # Compatible with PyTorch 2.0.0
pymeshlab>=2022.2.0
tqdm>=4.62.0
diffusers>=0.10.0
transformers>=4.26.1
clip-by-openai>=1.0.1
controlnet>=1.0.0
opencv-python>=4.5.0
imageio>=2.15.0
Pillow>=9.0.0
glm>=0.9.9
trimesh>=3.9.0
scipy>=1.7.0  # Matches numpy>=1.21.0
easydict>=1.9
igl>=2.2.1  # May need to be built from source
boto3>=1.10.50
appdirs>=1.4.4
pandas>=1.3.5
pyarrow>=7.0.0
matplotlib>=3.5.1
python-dotenv>=0.19.2
annoy>=1.17.0
ipyplot>=1.1.1
datasets>=2.10.0
validators>=0.18.2
