torch
torchvision
pytorch3d
numpy
pymeshlab
tqdm
diffusers
transformers
clip-by-openai
controlnet
opencv-python
imageio
Pillow
glm
trimesh
scipy
easydict
igl
boto3
appdirs
pandas
pyarrow
matplotlib
python-dotenv
annoy
ipyplot
datasets
validators
salesforce-lavis